---
title: "Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO"
description: "Meta description for the page"
permalink: "/"
tags: "sitemap" # content/content.json will make sure that all pages in content/ are marked with a "sitemap" tag, for automatic sitemap generation. As index.html is not in content/, we need to add it here to ensure the root page is included in the sitemap generation
---

{% extends "layouts/base.html" %}

{% block head %}
    <!-- Critical styles are loaded first -->
    <link rel="stylesheet" href="/assets/css/critical.css" />

    <!-- If we're in production, defer the rest of the home page styles. In development, always load it. Otherwise the site will break when hot-reload is used. -->
    {% if client.isProduction %}
        <link rel="preload" href="/assets/css/local.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
        <noscript>
            <link rel="stylesheet" href="/assets/css/local.css">
        </noscript>

    {% else %}
        <link rel="stylesheet" href="/assets/css/local.css" />
    {% endif %}

    <!-- To ensure proper validation, prevent errors, and encourage developers to check, schema's are an opt-in feature. They're very bespoke and requires some customising  -->
    <!-- Uncomment the code below to enable Structured Data, and test it when you deploy to Netlify - https://developers.google.com/search/docs/appearance/structured-data -->
    <!-- {% include "components/home-schema.html" %} -->
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-445">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-tag">Tag Example</span>
                <h1 class="cs-title">Solutions we crafted to make human lives easier.</h1>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                </p>
            </div>
            <a href="" class="cs-cta">
                <!--Arrow Right-->
                <svg class="cs-arrow" xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none"><path fill="#FAFBFC" d="M24.55 31.367c-.317 0-.633-.117-.883-.367a1.258 1.258 0 0 1 0-1.767L32.9 20l-9.233-9.233a1.258 1.258 0 0 1 0-1.767 1.258 1.258 0 0 1 1.766 0L35.55 19.117a1.258 1.258 0 0 1 0 1.766L25.433 31c-.25.25-.566.367-.883.367Z"/><path fill="#FAFBFC" d="M34.383 21.25H6.333A1.26 1.26 0 0 1 5.083 20c0-.683.567-1.25 1.25-1.25h28.05c.684 0 1.25.567 1.25 1.25a1.26 1.26 0 0 1-1.25 1.25Z"/></svg>
                <!--Wrapped in a span so it can be animated-->
                <span class="cs-cta-text">Get Free<br> Quote</span>
            </a>
            <!--Stats Section-->
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-number">18k+</span>
                    <span class="cs-desc">Satisfied Customers in Stratford, ON</span>
                </li>
                <li class="cs-item">
                    <span class="cs-number">5/5</span>
                    <span class="cs-desc">Google and Yelp rating</span>
                </li>
                <li class="cs-item">
                    <span class="cs-number">100%</span>
                    <span class="cs-desc">Satisfaction guaranteed on every project</span>
                </li>
            </ul>
        </div>
        <!-- Background Image -->
        <picture class="cs-background">
            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/leaf-bg-m.jpg">
            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/leaf-bg.jpg">
            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Hero/leaf-bg.jpg" alt="leaf" width="1920" height="1000" aria-hidden="true">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->

    <section id="services-447">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Services</span>
                <h2 class="cs-title">Landscaping Services in Stratford, Ontario</h2>
                <p class="cs-text">
                    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="cs-box">
                        <picture class="cs-wrapper">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/tree.svg" alt="icon" width="70" height="70">
                        </picture>
                        <h3 class="cs-h3">Service 1</h3>
                        <p class="cs-item-text">Lorem ipsum dolor sit amet, consectetur.</p>
                        <a href="" class="cs-link">Read More</a>
                    </div>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/leaf.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/leaf.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/leaf.jpg" alt="leaf" width="345" height="428">
                    </picture>
                </li>
                <li class="cs-item">
                    <div class="cs-box">
                        <picture class="cs-wrapper">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/truck.svg" alt="icon" width="70" height="70">
                        </picture>
                        <h3 class="cs-h3">Service 1</h3>
                        <p class="cs-item-text">Lorem ipsum dolor sit amet, consectetur.</p>
                        <a href="" class="cs-link">Read More</a>
                    </div>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/grass.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/grass.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/grass.jpg" alt="grass" width="345" height="428">
                    </picture>
                </li>
                <li class="cs-item">
                    <div class="cs-box">
                        <picture class="cs-wrapper">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/user.svg" alt="icon" width="70" height="70">
                        </picture>
                        <h3 class="cs-h3">Service 1</h3>
                        <p class="cs-item-text">Lorem ipsum dolor sit amet, consectetur.</p>
                        <a href="" class="cs-link">Read More</a>
                    </div>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/leaves.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/leaves.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/leaves.jpg" alt="leaves" width="345" height="428">
                    </picture>
                </li>
                <li class="cs-item">
                    <div class="cs-box">
                        <picture class="cs-wrapper">
                            <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/sticker.svg" alt="icon" width="70" height="70">
                        </picture>
                        <h3 class="cs-h3">Service 1</h3>
                        <p class="cs-item-text">Lorem ipsum dolor sit amet, consectetur.</p>
                        <a href="" class="cs-link">Read More</a>
                    </div>
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/path.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/path.jpg">
                        <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Services/path.jpg" alt="path" width="345" height="428">
                    </picture>
                </li>
            </ul>
        </div>
    </section>  
    
    <!-- ============================================ -->
    <!--                Side By Side                  -->
    <!-- ============================================ -->

    <section id="sbs-410">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Who We Are</span>
                <h2 class="cs-title">About Our Company</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <ul class="cs-ul">
                    <li class="cs-item">
                        <h3 class="cs-h3">01 Title 01</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                        </p>
                    </li>
                    <li class="cs-item">
                        <h3 class="cs-h3">01 Title 01</h3>
                        <p class="cs-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
                        </p>
                    </li>
                </ul>
                <a href="" class="cs-button-solid">More About Us</a>
            </div>
            <div class="cs-image-group">
                <!--Top Left Image-->
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping1.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping1.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping1.jpg" alt="backyard" width="229" height="352">
                </picture>
                <!--Top Right Image-->
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping2.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping2.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping3.jpg" alt="backyard" width="390" height="352">
                </picture>
                <!--Bottom Image-->
                <picture class="cs-picture cs-picture3">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping3.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping3.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/landscaping3.jpg" alt="backyard" width="649" height="227">
                </picture>
            </div>
        </div>
        <!--SVG Background Graphic-->
        <picture class="cs-graphic">
            <source media="(min-width: 1300px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/svg-slant.svg">
            <source media="(min-width: 768px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/svg-slant-t.svg">
            <source media="(max-width: 767px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/svg-slant-m.svg">
            <img class="cs-graphic-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/svg-slant-m.svg" alt="graphic" width="360" height="741">
        </picture>
    </section>

    <!-- ============================================ -->
    <!--            Side By Side Reverse              -->
    <!-- ============================================ -->

    <section id="sbsr-419">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Features</span>
                <h2 class="cs-title">Professional Landscaping Services</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <div class="cs-button-group">
                    <a href="" class="cs-button-solid">Learn More</a>
                    <a href="" class="cs-button-transparent">Get In Touch</a>
                </div>
            </div>
            <div class="cs-image-group">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/yard-m.jpg">
                    <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/yard.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/yard.jpg" alt="yard" width="558" height="496">
                </picture>
                <!--Info Box-->
                <div class="cs-info">
                    <img class="cs-icon" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/tree.svg" alt="icon" width="48" height="48">
                    <div class="cs-flex">
                        <span class="cs-header">Full Remodel</span>
                        <span class="cs-desc">Sod, plants, driveway, hedges</span>
                    </div>
                </div>
                <!--Svg Green Trapezpid-->
                <img class="cs-trapezoid" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/trapezoid.svg" alt="yard" width="558" height="496">
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="gallery-453">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <span class="cs-topper">Portfolio</span>
                    <h2 class="cs-title">Our Gallery</h2>
                </div>
                <div class="cs-button-group">
                    <!--When adding extra galleries, copy and paste the button and make data-filter equal to four, then five, etc. Do the same for the corresponding gallery and it's data attribute-->
                    <button class="cs-button" data-filter="one">
                        Renovations
                    </button>
                    <button class="cs-button" data-filter="two">
                        Sod
                    </button>
                    <button class="cs-button" data-filter="three">
                        Fencing
                    </button>
                </div>
            </div>
            <div class="cs-wrapper">
                <!--Gallery 1-->
                <div class="cs-gallery" data-category="one">
                    <!--Picture 1-->
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <!--Picture 2-->
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <!--Picture 3-->
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <!--Picture 4-->
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    
                </div>
                <!--Gallery 2-->
                <div class="cs-gallery cs-hidden" data-category="two">
                    <!--Picture 1-->
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <!--Picture 2-->
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <!--Picture 3-->
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <!--Picture 4-->
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves3.jpg" alt="gallery" width="305" height="400">
                    </picture>
                </div>
                <!--Gallery 3-->
                <div class="cs-gallery cs-hidden" data-category="three">
                    <!--Picture 1-->
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <!--Picture 2-->
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <!--Picture 3-->
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <!--Picture 4-->
                    <picture class="cs-image">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/leaves2.jpg" alt="gallery" width="305" height="400">
                    </picture>
                </div>
            </div>
        </div>
    </section>
                                    
    <!-- ============================================ -->
    <!--               Meet The Team                  -->
    <!-- ============================================ -->

    <section id="meet-team-454">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Team</span>
                <h2 class="cs-title">Meet Our Staff</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <a href="" class="cs-button-solid">More About Us</a>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg" alt="staff" width="305" height="424" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Wahid Keito</h3>
                    <span class="cs-desc">Creative Director</span>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg" alt="staff" width="305" height="424" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Claudio Arthur</h3>
                    <span class="cs-desc">Creative Director</span>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg" alt="staff" width="305" height="424" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Phillip Walker</h3>
                    <span class="cs-desc">Creative Director</span>
                </li>
                <li class="cs-item">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg">
                        <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/meet5.jpg" alt="staff" width="305" height="424" aria-hidden="true">
                    </picture>
                    <h3 class="cs-h3">Thomas Castro</h3>
                    <span class="cs-desc">Creative Director</span>
                </li>
                <!--SVG Ripple-->
                <li class="cs-ripple" aria-hidden="true">
                    <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Meet-Team/ripple2.svg" alt="ripple" width="967" height="650">
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Stats                      -->
    <!-- ============================================ -->

    <section id="stats-472">
        <div class="cs-container">
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Stats/codestitch.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                    <span class="cs-number">100+</span>
                    <span class="cs-desc">Landscape Renovations Completed</span>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Stats/codestitch.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                    <span class="cs-number">100%</span>
                    <span class="cs-desc">Guaranteed Customer Satisfaction</span>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Stats/codestitch.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                    <span class="cs-number">5/5</span>
                    <span class="cs-desc">From 34 Google Ratings</span>
                </li>
                <li class="cs-item">
                    <img class="cs-icon" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Stats/codestitch.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                    <span class="cs-number">5/5</span>
                    <span class="cs-desc">From 34 Google Ratings</span>
                </li>
            </ul>
        </div>
    </section>
                                    
    <!-- ============================================ -->
    <!--                 Why Choose                   -->
    <!-- ============================================ -->

    <section id="why-choose-440">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Best-In-Class</span>
                <h2 class="cs-title">Why Choose Us?</h2>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Why-Choose/icon1.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <span class="cs-number">263</span>
                        <span class="cs-desc">Happy families.</span>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Why-Choose/icon2.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <span class="cs-number">18</span>
                        <span class="cs-desc">Happy families.</span>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Why-Choose/icon3.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <span class="cs-number">24</span>
                        <span class="cs-desc">Happy families.</span>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Why-Choose/icon4.svg" loading="lazy" decoding="async" alt="icon" width="40" height="40" aria-hidden="true">
                        </picture>
                        <span class="cs-number">3</span>
                        <span class="cs-desc">Happy families.</span>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-510">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-title-group">
                    <span class="cs-topper">Reviews</span>
                    <h2 class="cs-title">What People Say</h2>
                </div>
                <p class="cs-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <!--Blue Quote-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/quote-left-green.svg" decoding="async" alt="quote icon" width="40" height="46">
                    <p class="cs-item-text">
                        This platform is one of the best companies I have dealt with in Indonesia. They’re always happy to help, and i wouldn’t hesitate to recommend them.
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/profile2.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                        </picture>
                        <span class="cs-name">
                            Anne Brown
                            <span class="cs-job">Landscape Web Customer</span>
                        </span>
                    </div>
                </li>
                <li class="cs-item">
                    <!--Blue Quote-->
                    <img class="cs-quote" aria-hidden="true" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Reviews/quote-left-green.svg" decoding="async" alt="quote icon" width="40" height="46">
                    <p class="cs-item-text">
                        This platform is one of the best companies I have dealt with in Indonesia. They’re always happy to help, and i wouldn’t hesitate to recommend them.
                    </p>
                    <div class="cs-flex-group">
                        <picture class="cs-picture">
                            <img class="cs-profile" src="https://csimages2.nyc3.digitaloceanspaces.com/Reviews/profile3.jpg" decoding="async" alt="profile" width="50" height="50" aria-hidden="true">
                        </picture>
                        <span class="cs-name">
                            Anne Brown
                            <span class="cs-job">Landscape Web Customer</span>
                        </span>
                    </div>
                </li>
            </ul>
            <a href="" class="cs-button-solid">Read More Reviews</a>
        </div>
    </section>
                                
    {% include 'sections/cta.html' %}
{% endblock %}
